/.obsidian
uBITz Platform Code/Dock/src/abc.history
uBITz Platform Code/Dock/src/.sconsign.dblite
uBITz Platform Code/Dock/src/hardware.json
uBITz Platform Code/Dock/src/addressdecode_tb.vcd
uBITz Platform Code/Dock/src/hardware.asc
.gitignore
uBITz Platform Code/Dock/src/sim.out
uBITz Platform Code/Dock/src/hardware.bin
.gitignore
uBITz Platform Code/Dock/src/addressdecode_tb.gtkw
uBITz Platform Code/Dock/src/addressdecode_complex_tb.out
uBITz Platform Code/Dock/src/complex_sim.out
uBITz Platform Code/Dock/src/tb_sim.out
uBITz Platform Code/Dock/src/build/
.vscode/settings.json

# Dock/src generated artifacts (generalized)
uBITz Platform Code/Dock/src/*.out
uBITz Platform Code/Dock/src/*.vcd
/uBITz Platform Code/Dock/MCU/includes
/uBITz Platform Code/Dock/MCU/build
/uBITz Platform Code/Dock/HDL/build
uBITz Platform Code/Dock/Schem/uBITz-Dock-Reference-Impl/~uBITz-Dock-Reference-Impl.kicad_sch.lck
sim_files.f
synth_xo2.ys
top.json
trivial.v
top.ys
abc_tmp/yosys-abc-2vsjaS/abc.script
abc_tmp/yosys-abc-2vsjaS/input.blif
abc_tmp/yosys-abc-5ssaRQ/lutdefs.txt
tmp/ivrlg7e0a
tmp/ivrlg27e0a
tmp/ivrlg336b
tmp/ivrlg2336b
tmp/ivrlh7e0a
tmp/ivrlh336b
tmp/ivrli7e0a
tmp/ivrli336b
uBITz Platform Code/Dock/HDL/build/addr_decoder_tb.vvp
uBITz Platform Code/Dock/HDL/build/irq_router_tb.vvp
uBITz Platform Code/Dock/HDL/src/a.out
uBITz Platform Code/Dock/HDL/src/build/cmake_install.cmake
.gitignore
.gitignore
uBITz Platform Code/Dock/HDL/src/build/hardware.asc
uBITz Platform Code/Dock/HDL/src/build/hardware.bin
uBITz Platform Code/Dock/HDL/src/build/hardware.json
uBITz Platform Code/Dock/HDL/src/build/hardware.rpt
.gitignore
uBITz Platform Code/Dock/HDL/src/build/synth.ys
uBITz Platform Code/Dock/HDL/src/build/CMakeFiles/cmake.check_cache
uBITz Platform Code/Dock/Schem/uBITz-Dock-Reference-Impl/uBITz-Dock-Reference-Impl-backups/uBITz-Dock-Reference-Impl-2025-11-29_234156.zip
uBITz Platform Code/Dock/HDL/src/complex.out
uBITz Platform Code/Dock/HDL/src/irq_router.out
.gitignore
uBITz Platform Code/Dock/HDL/src/sim.out
uBITz Platform Code/Dock/HDL/src/top_integration_tb.vcd
uBITz Platform Code/Dock/HDL/src/top_integration.out
uBITz Platform Code/Dock/HDL/src/worked_example.out
uBITz Platform Code/Dock/MCU/.clangd
uBITz Platform Code/Dock/MCU/sdkconfig
uBITz Platform Code/Dock/MCU/sdkconfig.old
uBITz Platform Code/Dock/Schem/uBITz-Dock-Reference-Impl/04-Power-Module/uBITz-Dock-Power-Impl-backups/uBITz-Dock-Power-Impl-2025-12-15_222224.zip
uBITz Platform Code/Dock/Schem/uBITz-Dock-Reference-Impl/04-Power-Module/uBITz-Dock-Power-Impl-backups/uBITz-Dock-Power-Impl-2025-12-15_224345.zip
uBITz Platform Code/Dock/Schem/uBITz-Dock-Reference-Impl/04-Power-Module/uBITz-Dock-Power-Impl-backups/uBITz-Dock-Power-Impl-2025-12-15_225356.zip
uBITz Platform Code/Dock/Schem/uBITz-Dock-Reference-Impl/04-Power-Module/uBITz-Dock-Power-Impl-backups/uBITz-Dock-Power-Impl-2025-12-15_231144.zip
uBITz Platform Code/Dock/Schem/uBITz-Dock-Reference-Impl/04-Power-Module/uBITz-Dock-Power-Impl-backups/uBITz-Dock-Power-Impl-2025-12-15_234742.zip
uBITz Platform Code/Dock/Schem/uBITz-Dock-Reference-Impl/04-Power-Module/uBITz-Dock-Power-Impl-backups/uBITz-Dock-Power-Impl-2025-12-16_003633.zip
uBITz Platform Code/Dock/Schem/uBITz-Dock-Reference-Impl/04-Power-Module/uBITz-Dock-Power-Impl-backups/uBITz-Dock-Power-Impl-2025-12-16_004503.zip
uBITz Platform Code/Dock/Schem/uBITz-Dock-Reference-Impl/04-Power-Module/uBITz-Dock-Power-Impl-backups/uBITz-Dock-Power-Impl-2025-12-16_005054.zip
uBITz Platform Code/Dock/Schem/uBITz-Dock-Reference-Impl/04-Power-Module/uBITz-Dock-Power-Impl-backups/uBITz-Dock-Power-Impl-2025-12-16_010620.zip
uBITz Platform Code/Dock/Schem/uBITz-Dock-Reference-Impl/04-Power-Module/uBITz-Dock-Power-Impl-backups/uBITz-Dock-Power-Impl-2025-12-16_013245.zip
uBITz Platform Code/Dock/Schem/uBITz-Dock-Reference-Impl/04-Power-Module/uBITz-Dock-Power-Impl-backups/uBITz-Dock-Power-Impl-2025-12-18_182650.zip
uBITz Platform Code/Dock/Schem/uBITz-Dock-Reference-Impl/04-Power-Module/uBITz-Dock-Power-Impl-backups/uBITz-Dock-Power-Impl-2025-12-18_183807.zip
uBITz Platform Code/Dock/Schem/uBITz-Dock-Reference-Impl/04-Power-Module/uBITz-Dock-Power-Impl-backups/uBITz-Dock-Power-Impl-2025-12-18_184441.zip
uBITz Platform Code/Dock/Schem/uBITz-Dock-Reference-Impl/04-Power-Module/uBITz-Dock-Power-Impl-backups/uBITz-Dock-Power-Impl-2025-12-18_185407.zip
uBITz Platform Code/Dock/Schem/uBITz-Dock-Reference-Impl/04-Power-Module/uBITz-Dock-Power-Impl-backups/uBITz-Dock-Power-Impl-2025-12-18_190448.zip
uBITz Platform Code/Dock/Schem/uBITz-Dock-Reference-Impl/04-Power-Module/uBITz-Dock-Power-Impl-backups/uBITz-Dock-Power-Impl-2025-12-20_203814.zip
uBITz Platform Code/Dock/Schem/uBITz-Dock-Reference-Impl/uBITz-Dock-Power-Impl-backups/uBITz-Dock-Power-Impl-2025-12-15_170644.zip
uBITz Platform Code/Dock/Schem/uBITz-Dock-Reference-Impl/uBITz-Dock-Power-Impl-backups/uBITz-Dock-Power-Impl-2025-12-15_171329.zip
uBITz Platform Code/Dock/Schem/uBITz-Dock-Reference-Impl/uBITz-Dock-Reference-Impl-backups/uBITz-Dock-Reference-Impl-2025-12-12_230705.zip
uBITz Platform Code/Dock/Schem/uBITz-Dock-Reference-Impl/uBITz-Dock-Reference-Impl-backups/uBITz-Dock-Reference-Impl-2025-12-12_231524.zip
uBITz Platform Code/Dock/Schem/uBITz-Dock-Reference-Impl/uBITz-Dock-Reference-Impl-backups/uBITz-Dock-Reference-Impl-2025-12-12_232228.zip
uBITz Platform Code/Dock/Schem/uBITz-Dock-Reference-Impl/uBITz-Dock-Reference-Impl-backups/uBITz-Dock-Reference-Impl-2025-12-12_232805.zip
uBITz Platform Code/Dock/Schem/uBITz-Dock-Reference-Impl/uBITz-Dock-Reference-Impl-backups/uBITz-Dock-Reference-Impl-2025-12-12_234335.zip
uBITz Platform Code/Dock/Schem/uBITz-Dock-Reference-Impl/uBITz-Dock-Reference-Impl-backups/uBITz-Dock-Reference-Impl-2025-12-13_032152.zip
uBITz Platform Code/Dock/Schem/uBITz-Dock-Reference-Impl/uBITz-Dock-Reference-Impl-backups/uBITz-Dock-Reference-Impl-2025-12-13_032949.zip
uBITz Platform Code/Dock/Schem/uBITz-Dock-Reference-Impl/uBITz-Dock-Reference-Impl-backups/uBITz-Dock-Reference-Impl-2025-12-13_033951.zip
uBITz Platform Code/Dock/Schem/uBITz-Dock-Reference-Impl/uBITz-Dock-Reference-Impl-backups/uBITz-Dock-Reference-Impl-2025-12-13_035113.zip
uBITz Platform Code/Dock/Schem/uBITz-Dock-Reference-Impl/uBITz-Dock-Reference-Impl-backups/uBITz-Dock-Reference-Impl-2025-12-13_191311.zip
uBITz Platform Code/Dock/Schem/uBITz-Dock-Reference-Impl/uBITz-Dock-Reference-Impl-backups/uBITz-Dock-Reference-Impl-2025-12-15_164530.zip
uBITz Platform Code/Dock/Schem/uBITz-Dock-Reference-Impl/uBITz-Dock-Reference-Impl-backups/uBITz-Dock-Reference-Impl-2025-12-15_165432.zip
uBITz Platform Code/Dock/Schem/uBITz-Dock-Reference-Impl/uBITz-Dock-Reference-Impl-backups/uBITz-Dock-Reference-Impl-2025-12-15_170130.zip
uBITz Platform Code/Dock/Schem/uBITz-Dock-Reference-Impl/uBITz-Dock-Reference-Impl-backups/uBITz-Dock-Reference-Impl-2025-12-15_170834.zip
uBITz Platform Code/Host/Schem/uBITz-Host-Reference-Impl/03-Z80-Based-Host/uBITz-Host-z80-Host/uBITz-Host-z80-Host-backups
uBITz Platform Code/Dock/MCU/sdkconfig
uBITz Platform Code/Dock/MCU/sdkconfig
uBITz Platform Code/Dock/MCU/.vscode/c_cpp_properties.json
uBITz Platform Code/Dock/MCU/.vscode/settings.json
uBITz Platform Code/Host/Schem/uBITz-Host-Reference-Impl/03-Z80-Based-Host/uBITz-Host-z80-Host/production/backups/uBITz-Host-z80-Host_2026-01-02_13-50-11.zip
uBITz Platform Code/Host/Schem/uBITz-Host-Reference-Impl/04-Adafruit-FT232H
uBITz Platform Code/Host/Schem/uBITz-Host-Reference-Impl/03-Z80-Based-Host/uBITz-Host-z80-Host/~*lck
uBITz Platform Code/Host/Schem/uBITz-Host-Reference-Impl/03-Z80-Based-Host/uBITz-Host-z80-Host/production
uBITz Platform Code/Host/Schem/uBITz-Host-Reference-Impl/03-Z80-Based-Host/uBITz-Host-z80-Host/bom
.vscode
uBITz Platform Code/Dock/MCU/.vscode/c_cpp_properties.json
uBITz Platform Code/Dock/MCU/sdkconfig.old
**/sdkconfig.old
uBITz Platform Code/Dock/Schem/uBITz-Dock-Reference-Impl/fp-info-cache
uBITz Platform Code/Dock/Schem/uBITz-Dock-Reference-Impl/fp-lib-table
.gitignore
uBITz Platform Code/Dock/Schem/uBITz-Dock-Reference-Impl/02-Libraries/Symbols/Dock_Library.bak
.gitignore
uBITz Platform Code/Dock/Schem/uBITz-Dock-Reference-Impl/04-Power-Module/fp-info-cache
.gitignore
uBITz Platform Code/Dock/Schem/uBITz-Dock-Reference-Impl/04-Power-Module/fp-lib-table
uBITz Platform Code/Host/Schem/uBITz-Host-Reference-Impl/02-Libraries/Symbols/Host.bak
uBITz Platform Code/Host/Schem/uBITz-Host-Reference-Impl/03-Z80-Based-Host/uBITz-Host-z80-Host/#auto_saved_files#
uBITz Platform Code/Host/Schem/uBITz-Host-Reference-Impl/03-Z80-Based-Host/uBITz-Host-z80-Host/fabrication-toolkit-options.json
uBITz Platform Code/Host/Schem/uBITz-Host-Reference-Impl/03-Z80-Based-Host/uBITz-Host-z80-Host/fp-info-cache
uBITz Platform Code/Host/Schem/uBITz-Host-Reference-Impl/03-Z80-Based-Host/uBITz-Host-z80-Host/fp-lib-table
uBITz Platform Code/Dock/MCU/.vscode/settings.json
uBITz Platform Code/Dock/MCU/.vscode/c_cpp_properties.json
uBITz Platform Code/Dock/MCU/sdkconfig.old
uBITz Platform Code/Dock/MCU/sdkconfig
uBITz Platform Code/Host/Schem/uBITz-Host-Reference-Impl/03-Z80-Based-Host/uBITz-Host-z80-Host/uBITz-Host-z80-Host.kicad_pcb.zip
