/.obsidian
uBITz Platform Code/Dock/src/abc.history
uBITz Platform Code/Dock/src/.sconsign.dblite
uBITz Platform Code/Dock/src/hardware.json
uBITz Platform Code/Dock/src/addressdecode_tb.vcd
uBITz Platform Code/Dock/src/hardware.asc
.gitignore
uBITz Platform Code/Dock/src/sim.out
uBITz Platform Code/Dock/src/hardware.bin
.gitignore
uBITz Platform Code/Dock/src/addressdecode_tb.gtkw
uBITz Platform Code/Dock/src/addressdecode_complex_tb.out
uBITz Platform Code/Dock/src/complex_sim.out
uBITz Platform Code/Dock/src/tb_sim.out
uBITz Platform Code/Dock/src/build/
.vscode/settings.json

# Dock/src generated artifacts (generalized)
uBITz Platform Code/Dock/src/*.out
uBITz Platform Code/Dock/src/*.vcd
/uBITz Platform Code/Dock/MCU/includes
/uBITz Platform Code/Dock/MCU/build
uBITz Platform Code/Dock/Schem/uBITz-Dock-Reference-Impl/~uBITz-Dock-Reference-Impl.kicad_sch.lck
sim_files.f
synth_xo2.ys
top.json
trivial.v
top.ys
abc_tmp/yosys-abc-2vsjaS/abc.script
abc_tmp/yosys-abc-2vsjaS/input.blif
abc_tmp/yosys-abc-5ssaRQ/lutdefs.txt
tmp/ivrlg7e0a
tmp/ivrlg27e0a
tmp/ivrlg336b
tmp/ivrlg2336b
tmp/ivrlh7e0a
tmp/ivrlh336b
tmp/ivrli7e0a
tmp/ivrli336b
